
article {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  article {
    flex-basis: calc(40% - 15px);
  }
}

@media (max-width: 767px) {
  article {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.pointer {
    cursor: pointer;
}
  .hidden {
    display: none;
  }
