/* Set the width and margin of the side-nav to position it on the right side */
app-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -10px;
}
#side-nav {
  width: 100%;
  margin-left: auto;
}
#projects {
  flex: 1;
}
article {
  flex-basis: 100%;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 20px;
}

.image-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-footer-container > * {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.thumb {
  width: 150px;
  height: auto;
  margin: 0 auto;
  margin-left: 0px; /* Add this line to move the thumb to the left */
  text-align: left;
}

footer{
  padding-left: 20px;
}


@media (min-width: 768px) {
  article {
    flex-basis: calc(40% - 15px);
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  article {
    flex-basis: calc(45% - 20px);
  }
}
#side-nav {
  width: 25%;
}




