<article
  *ngFor="let project of projects | projectFilter : tagFilter"
  [class.hidden]="categoryFilter && project.category?.id != categoryFilter.id"
>

  <section>
    <h2>{{ project.title | uppercase }}</h2>
    <div>{{ project.excerpt }}</div>
  </section>
  <footer>
    <div class="pointer" *ngIf="project.category" (click)="setCategoryFilter(project.category)">
      Category: <span>{{ project.category.name }}</span>
    </div>
    <div *ngIf="project.tags?.length">
      Tags:
      <span class="pointer" *ngFor="let tag of project.tags" (click)="setTagFilter(tag)">
        {{ tag.name }}
      </span>
    </div>
  </footer>
</article>