<header>
  <button type="button" (click)="goBack()">Back</button>
</header>

<article *ngIf="project">
  <section>
    <h2>{{ project.title | uppercase }}</h2>
    <img [src]="'assets/' + project.image">
    <div [innerHTML]="project.body"></div>
  </section>
  <footer>
    <div *ngIf="project.category">
      Category: <span>{{ project.category.name }}</span>
    </div>
    <div *ngIf="project.tags?.length">
      Tags:
      <span *ngFor="let tag of project.tags">
        {{ tag.name }}
      </span>
    </div>
  </footer>
</article>