main {
  display: flex;
  flex-direction: row;
}

/* Set the width and margin of the side-nav to position it on the right side */
#side-nav {
  width: 250px;
  margin-left: auto;
}
#projects {
  flex:1;

}

app-projects{
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -20px;
}



.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
