.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bio {
  width: 60%;
  flex: 1;
}

.feature-project {
  width: 35%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  flex: 1;
}
.feature-project img {
  max-width: 100%;
  height: auto;
}

.name{
  display: flex;
  align-items: center;
}