<div class="wrapper">
    <div class="bio">
      <div class="name">
      <h2>Yuko Ishida</h2><h3> - Software Developer</h3>
      </div>
        <h3>Hi there</h3>
        <p>Hi there! My name is Yuko Ishida, and I'm currently a student at BCIT, studying System Software Development. 
          <br>Originally from Japan, I moved to Canada in 2017 to pursue my passion for technology and software development. 
          <br>While at BCIT, I've gained experience in a variety of programming languages and tools, including React and AWS. I'm excited to continue learning and growing in the tech industry, and am always eager to take on new challenges and projects. 
          <br><br>Outside of programming, I enjoy playing video games. Thanks for stopping by!</p>
    </div>

    <article class ="feature-project" *ngIf="project">
      <h3>Feature Project</h3>
      <section>
        <h4>{{ project.title | uppercase }}</h4>
        <img [src]="'assets/' + project.image">
        <div [innerHTML]="project.body"></div>
      </section>
      <footer>
        <div *ngIf="project.category">
          Category: <span>{{ project.category.name }}</span>
        </div>
        <div *ngIf="project.tags?.length">
          Tags:
          <span *ngFor="let tag of project.tags">
            {{ tag.name }}
          </span>
        </div>
      </footer>
    </article>

  </div>
  